// Fonts
@import url('https://fonts.bunny.net/css?family=Inter');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

//@import 'bootstrap-select/dist/css/bootstrap-select.css';

// Select2
@import "select2/src/scss/core";

@media only screen and (min-width: 768px) {
    .card-nearest-space {
        width: 18rem;
    }
}

.card-nearest-space > div:first-child, .img-building {
    height: 250px;
}

// Style halaman building
.card-building {
    width: 20rem;
}

.img-detail-building {
    height: 300px;
}
